.selectedEquipmentTable {
    background-color: #262626;
    padding-left: 5px;
}

.accounting-card {
    background-color: #37383c;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}