{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'libs/modules/tabs/tabs.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />


<div class="container">
  <form action="" method="POST">
    {%csrf_token%}
    <div class="row">




      <!-- _______________________________________ TABS CONTROL PANEL _______________________________________ -->

      <div class="process">
        <div class="process-row nav nav-tabs">
          <div class="process-step">
            <button type="button" id="btn-menu1" class="btn btn-scrollable active-tab-label" data-toggle="tab"
              href="#menu1"></button>
            <label for="btn-menu1">
              <p><small>Сведения о группе</small></p>
            </label>
          </div>
          <div class="process-step">
            <button type="button" id="btn-menu2" class="btn btn-scrollable hidden-tab-label" data-toggle="tab"
              href="#menu2"></button>
            <label for="btn-menu1">
              <p><small>Выбор снаряжения</small></p>
            </label>
            <p><small></small></p>
          </div>
          <div class="process-step">
            <button type="button" id="btn-menu3" class="btn btn-scrollable hidden-tab-label" data-toggle="tab"
              href="#menu3"></button>
            <label for="btn-menu1">
              <p><small>Подтверждение</small></p>
            </label>
          </div>
        </div>
      </div>


      <!-- _______________________________________ TABS CONTENT _______________________________________ -->
      <div class="tab-content">




        <!-- _______________________________________ HIKE PROPERTIES _______________________________________ -->

        <div id="menu1" class="tab-pane fade active in">
          <div class="form-group">
            <label for="responsiblePersonLabel">Ответственное лицо</label><br>
            <select class="selectpicker dark dark-childs" data-live-search="true" id="responsiblePersonSelector"
              title="Выберите контакт" data-size="5" required>
              {% for user in contacts_list %}
              <option data-tokens="{{user.0}}" value="{{user.0}}" data-subtext="{{user.2}}">{{user.1}}</option>
              {% endfor %}
            </select>
            <br>
            <input type="hidden" name="responsiblePerson" id="responsiblePerson">
            <small id="responsiblePersonHelp" class="form-text text-muted">Зам. по снару, руководитель или другой
              контакт,
              ответственный
              за взятый снар.</small>
          </div>
          <div class="form-group">
            <label for="leadLabel">Руководитель</label>
            <input type="text" name="leadName" class="form-control dark" id="leadInputField" placeholder="Смерека">
            <small id="leadInputHelp" class="form-text text-muted" required>Имя руковода группы.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput2">Тип похода</label><br>
            <span>
              <select name="typeOfHike" id="typeOfHikeSelector" class="form-control custom-select dark-control dark" required>
                <option value="ПВД">ПВД</option>
                <option value="Лыжный">Лыжный</option>
                <option value="Другой">Другой тип</option>
              </select>
            </span>
            <small id="emailHelp" class="form-text text-muted">"Есть только три типа походов: ПВД, Лыжка и все
              остальные"</small>
          </div>

          <div class="row">
            <div class="col">
              <label for="leadLabel">Новичков</label>
            </div>
            <div class="col">
              <label for="leadLabel">Студентов</label>
            </div>
          </div>
          <div class="row">
            <div class="col input-number">
              <input type="number" name="newOnes" id="newOnes" min="0" max="100" step="1" value="0">
            </div>
            <div class="col input-number">
              <input type="number" name="students" id="students" min="0" max="100" step="1" value="0">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="leadLabel">ДЧ</label>
            </div>
            <div class="col">
              <label for="leadLabel">Остальных</label>
            </div>
          </div>
          <div class="row">
            <div class="col input-number">
              <input type="number" name="realMembers" id="realMembers" min="0" max="100" step="1" value="0">
            </div>
            <div class="col input-number">
              <input type="number" name="others" id="others" min="0" max="100" step="1" value="0">
            </div>
          </div>
          <small id="emailHelp" class="form-text text-muted">Имеет значение при расчёте цены.</small><br>
          <label for="">Временные рамки</label>
          <div class="row datepicker-row">
            <div class="col">
              <input type="date" name="startDate" class="form-control dark-control dark datepicker" required=""
                id="start_day" onchange="setMinEndDate()">
            </div>
            <div class="col">
              <input type="date" name="endDate" class="form-control dark-control dark datepicker" required=""
                id="end_day" onchange="setMinEndDate()">
            </div>
            <small id="emailHelp" class="form-text text-muted">День взятия снара и планируемая дата его
              возврата.</small>
            <script>
              function byId(id) {
                return document.getElementById(id);
              }
              function setMinEndDate() {
                byId('end_day').min = byId('start_day').value;
              }
              Date.prototype.toDateInputValue = (function () {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0, 10);
              });
              function addDays(date, days) {
                var result = new Date(date);
                result.setDate(result.getDate() + days);
                return result;
              }
              document.getElementById('start_day').value = addDays(new Date(), 0).toDateInputValue();
              document.getElementById('start_day').min = addDays(Date(), -1).toDateInputValue();
              document.getElementById('end_day').value = addDays(Date(), 10).toDateInputValue();
            </script>

          </div>
        </div>



        <!-- _______________________________________ EQUIPMENT SELECT _______________________________________ -->

        <div id="menu2" class="tab-pane fade">
          <select id="demo2" multiple="multiple">
            {% for equipment in eq_list %}
            <option value="eq_{{equipment.0}}" data-section="{{equipment.2}}" data-description="{{equipment.3}}">
              {{equipment.1}}</option>
            {% endfor %}
          </select>
          <script>
            var prices = {
              //{% for equipment in eq_list %}
              "eq_{{equipment.0}}": ["{{equipment.4}}", "{{equipment.6}}"],
              //{% endfor %}
            };
          </script>
          <div class="col">
            <h4 id="priceField">Итоговая цена: 0₴</h4>
          </div>
        </div>



        <!-- _______________________________________ CONFIRMATION _______________________________________ -->

        <div id="menu3" class="tab-pane fade">
          <h3>Проверьте правильность информации</h3>
          <div class="row">
            <div class="col">
              <div>Ответственный за снар: </div>
            </div>
            <div class="col">
              <div class="confirmation-data" id="responsiblePersonCDataField"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>Руководитель группы: </div>
            </div>
            <div class="col">
              <div class="confirmation-data" id="leadCDataField"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>Тип похода: </div>
            </div>
            <div class="col">
              <div class="confirmation-data" id="typeOfHikeCDataField"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>Дата взятия: </div>
            </div>
            <div class="col">
              <div class="confirmation-data" id="datesOfRentCDataField"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>Состав группы: </div>
            </div>
            <div class="col">
              <div class="confirmation-data" id="membersCounterCDataField"></div>
            </div>
          </div>
          <br>
          <h4>Снаряжение</h4>
          <div class="col" id = "selectedEquipmentCDataField">
            
          </div>
          <div class="row" id="noEquipmentExceptionCDataField">
            <div class="col">
                <p class="required-alert">
                    Нет снаряжения
                </p>             
            </div> 
        </div> 
          <div class="col">
            <h4 id="priceCDataField">Итоговая амортизация: 0₴</h4>
          </div>
        </div>
      </div>
    </div>





    <!-- _______________________________________ HIDDEN FORM FIELDS _______________________________________ -->

    <input type="hidden" name="price" id="priceHiddenField">
    <input type="hidden" name="equipmentJSON" id="equipmentJSONHiddenField">
    <input type="text" style="display: none;" name="isAnyEquipmentSelected" id="isAnyEquipmentSelected" required="true">



    <!-- _______________________________________ NAVIGATION PANEL _______________________________________ -->

    <div class="col steps-control-panel">
      <hr />
      <button type="button" class="btn btn-info prev-step" disabled="true">Назад<i
          class="fa fa-chevron-right"></i></button>
      <button type="button" class="btn btn-info next-step">Далее<i class="fa fa-chevron-right"></i></button>
      <button type="submit" class="btn btn-info last-step" style="display: none;">Завершить<i
          class="fa fa-chevron-right"></i></button>
    </div>
  </form>
</div>


<script src="{% static 'libs/modules/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'libs/modules/multiselect/jquery.tree-multiselect.js' %}"></script>
<script src="{% static 'js/new_group_accounting.js' %}"></script>
<script src="{% static 'js/equipment-accounting-tree.js' %}"></script>

{% endblock %}